

.m{
 position:absolute;
background-color: blue;
padding:20px;
color:blanchedalmond;
z-index:3;


}
.p{
  position:absolute;
  background-color: black;
  padding:20px;
  color:blanchedalmond;
  
  z-index:1;

 
}


