.parent{
  background-color: blue;
  height: 200vh;
  position: relative;
  
}
.one{
  background-color: pink;
  position: sticky;
  top: 0px;
  right:0px;
  

}
.two{
background-color: red;
}
.three{
background-color: coral;
}